@charset "utf-8";
/***********
폰트 가져오기
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Lucida';
	src: url('../fonts/lucida_bright_regular.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Lucida';
	src: url('../fonts/lucida_bright_demi.ttf')  format('truetype');
	font-weight: 700;
}
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('opentype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('truetype');
}

/*********************************
리셋css
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #2f2f2f;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.section_subtitle
{
	font-size: 14px;
	font-weight: 600;
	color: #937c6f;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.section_title
{
	font-family: 'Lucida', serif;
	font-size: 60px;
	text-transform: uppercase;
	color: #2f2f2f;
	margin-top: -4px;
}
.button
{
	width: 142px;
	height: 46px;
	background: #937c6f;
	text-align: center;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.button a
{
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.2em;
	line-height: 46px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.button:hover
{
	background: #e0e3e4;
}
.button:hover a
{
	color: #232323;
}

/*********************************
헤더
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: #FFFFFF;
	z-index: 100;
	padding-left: 60px;
	padding-right: 64px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.header.scrolled
{
	height: 80px;
}
.header_inner
{
	width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/*********************************
3.1 Header - Logo
*********************************/

.logo a
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #2f2f2f;
}

/*********************************
3.2 Header - Main Navigation
*********************************/

.main_nav
{
	padding-left: 50px;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
	margin-bottom: 10px;
}
.main_nav ul li
{
	display: inline-block;
	margin-right: 40px;
}
.main_nav ul li:last-child
{
	margin-right: 0;
}
.main_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.main_nav ul li a:hover
{
	color: #937c6f;
}

/*********************************
3.3 Header - Search
*********************************/

.search
{
	display: inline-block;
	width: 240px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.search_input
{
	width: 100%;
	height: 43px;
	background: #f9f5f5;
	border: none;
	outline: none;
	padding-left: 20px;
}
.search_button
{
	position: absolute;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 10px;
	width: 19px;
	height: 19px;
	background: transparent;
	border: none;
	outline: none;
}
.search_button:focus
{
	outline: none !important;
}
.search_button img
{
	max-width: 100%;
}

/*********************************
3.4 Header - Shopping
*********************************/
.i_img img{
	width: 20px;
	height: 20px;
}
.shopping
{
	display: inline-block;
	margin-left: 80px;
	padding-right: 80px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.shopping a
{
	display: inline-block;
	margin-right: 10px;
}
.shopping a:last-child
{
	margin-right: 0;
}
.cart_num_container,
.star_num_container
{
	position: absolute;
	top: 13px;
	left: -5px;
	width: 15px;
	height: 15px;
	background: #937c6f;
	border-radius: 50%;
}
.cart_num_inner,
.star_num_inner
{
	width: 100%;
	height: 100%;
}
.cart_num,
.star_num
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 9px;
	font-weight: 600;
	color: #FFFFFF;
}
.star img
{
	width: 20px;
	height: 20px;
}
.avatar img
{
	width: 20px;
	height: 20px;
}

/*********************************
3.5 Header - Burger
*********************************/

.burger_container
{
	position: absolute;
	top: calc(50% + 4px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: 22px;
	height: 16px;
	cursor: pointer;
}
.burger_container div
{
	width: 100%;
	height: 2px;
	background: #232323;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	pointer-events: none;
}
.burger_container:hover div
{
	background: #937c6f;
}

/*********************************
슬라이더 컨테이너ㅓ
*********************************/

.home
{
	width: 100%;
	height: 904px;
	background: #FFFFFF;
}

/*********************************
슬라이더
*********************************/

.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_slider_content
{
	position: absolute;
	top: 56.3%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 10;
}
.home_slider_content_inner
{
	background: #fff;
}
.home_slider_title
{
	font-family: 'Lucida', serif;
	font-size: 72px;
	color: #2f2f2f;
	height: 99px;
	line-height: 99px;
	padding-left: 31px;
	padding-right: 19px;
	white-space: nowrap;
}
.home_slider_subtitle
{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -37px;
	height: 37px;
	background: #2f2f2f;
	color: #fff;
	padding-left: 34px;
	padding-right: 34px;
	line-height: 37px;
	font-family: 'Lucida', serif;
	font-size: 18px;
	white-space: nowrap;
}
.home_slider_next
{
	position: absolute;
	top: 55%;
	right: 60px;
	padding: 15px;
	border-radius: 5px;
	background: #f9f5f5;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.home_slider_next:hover
{
	background: #2f2f2f;
}
.home_slider_next:hover img
{
	content: url(../images/arrowRW.png);
}
.home_slider_prev
{
	position: absolute;
	top: 55%;
	left: 60px;
	padding: 15px;
	border-radius: 5px;
	background: #f9f5f5;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.home_slider_prev:hover
{
	background: #2f2f2f;
}
.home_slider_prev:hover img
{
	content: url(../images/arrowLW.png);
}
.home_slider_dots_container
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.home_slider_dots
{
	display: inline-block;
	position: absolute;
	top: -54px;
	left: 0;
}
.home_slider_dots ul
{
	display: inline-block;
}
.home_slider_dots ul li
{
	display: inline-block;
	position: relative;
	font-family: 'Lucida', serif;
	font-size: 18px;
	color: #FFFFFF;
	margin-right: 7px;
	cursor: pointer;
}
.home_slider_dots ul li:last-child
{
	margin-right: 0;
}
.home_slider_custom_dot div
{
	display: inline-block;
	width: 0px;
	height: 1px;
	background: #FFFFFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-left: 4px;
	margin-right: -4px;
}
.home_slider_custom_dot.active div
{
	width: 100px;
}
.home_slider .owl-dots
{
	display: none !important;
}

/*********************************
5. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -335px;
	width: 335px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
}
.menu.active
{
	right: 0;
}
.menu_close_container
{
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}
.menu_close
{
	width: 100%;
	height: 100%;
}
.menu_close div
{
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.menu_close div:last-of-type
{
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}
.menu_close:hover div
{
	background: #937c6f;
}
.menu .logo
{
	margin-bottom: 60px;
}
.menu_nav ul li
{
	margin-bottom: 11px;
}
.menu_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.menu_nav ul li a:hover
{
	color: #937c6f;
}
.menu .search
{
	width: 100%;
	margin-bottom: 67px;
}

/*********************************
제품 배너 1
*********************************/

.almost
{
	padding-top: 88px;
}
.almost_container
{
	margin-top: 75px;
}
.almost_item
{
	width: 100%;
}
.almost_image
{
	width: 100%;
}
.almost_image img
{
	max-width: 100%;
}
.almost_link
{
	width: 100%;
	height: 60px;
	background: #2f2f2f;
	text-align: center;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.almost_link a
{
	display: block;
	font-family: 'Lucida', serif;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 60px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.almost_link:hover
{
	background: #222222;
}
.almost_link:hover a
{
	color: #ada6a2;
}
.almost_content
{
	position: absolute;
	top: 43.6%;
	z-index: 1;
}

.almost_title
{
	font-family: 'Lucida', serif;
	font-size: 30px;
	color: #FFFFFF;
}
.almost_subtitle
{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: -3px;
}

/*********************************
신상품
*********************************/

.arrivals
{
	padding-top: 88px;
	padding-bottom: 95px;
}
.products_container
{
	margin-top: 98px;
}
.product
{

}
.product_image
{
	width: 100%;
}
.product_image img
{
	max-width: 100%;
}
.rating
{
	margin-top: 24px;
}
.rating i
{
	font-size: 10px;
	margin-right: 1px;
	color: #e0e3e4;
}
.rating i:last-child
{
	margin-right: 0px;
}
.rating_1 i:first-child{color: #f5c06f;}
.rating_2 i:first-child{color: #f5c06f;}
.rating_2 i:nth-child(2){color: #f5c06f;}
.rating_3 i:first-child{color: #f5c06f;}
.rating_3 i:nth-child(2){color: #f5c06f;}
.rating_3 i:nth-child(3){color: #f5c06f;}
.rating_4 i:first-child{color: #f5c06f;}
.rating_4 i:nth-child(2){color: #f5c06f;}
.rating_4 i:nth-child(3){color: #f5c06f;}
.rating_4 i:nth-child(4){color: #f5c06f;}
.rating_5 i:first-child{color: #f5c06f;}
.rating_5 i:nth-child(2){color: #f5c06f;}
.rating_5 i:nth-child(3){color: #f5c06f;}
.rating_5 i:nth-child(4){color: #f5c06f;}
.rating_5 i:nth-child(5){color: #f5c06f;}
.product_content
{
	margin-top: 7px;
}
.product_info
{
	float: left;
}
.product_name a
{
	font-size: 16px;
	font-weight: 600;
	color: #232323;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.product_name a:hover
{
	color: #937c6f;
}
.product_price
{
	font-size: 24px;
	font-weight: 600;
	color: #8a8a8a;
	margin-top: 0px;
}
.product_options
{
	float: right;
	transform: translateY(11px);
}
.product_option
{
	width: 37px;
	height: 37px;
	cursor: pointer;
}
.product_buy
{
	display: inline-block;
	background: #2f2f2f;
	vertical-align: middle;
	margin-right: 4px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.product_buy img
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 23px;
	height: 23px;
}
.product_buy:hover
{
	background: #2f2f2f;
}
.product_fav
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 600;
	color: #232323;
	background: #e0e3e4;
	line-height: 37px;
	text-align: center;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.product_fav:hover
{
	color: #FFFFFF;
	background: #232323;
}

/*********************************
두번째 배너
*********************************/

.extra
{
	width: 100%;
    max-width: 1280px;
	margin: 0 auto;
}
.extra_almost
{
	width: calc((100% - 30px) / 2);
	height: 616px;
	float: left;
}
.extra_almost_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.extra_almost_1
{
	margin-right: 30px;
	padding-top: 43px;
	padding-left: 45px;
	padding-bottom: 46px;
	padding-right: 45px;
}

.extra_almost_2
{
	padding-top: 43px;
	padding-bottom: 46px;
}


/*********************************
캐러셀 상품 
*********************************/

.gallery
{
	width: 100%;
	padding-top: 88px;
	padding-left: 44px;
	padding-right: 44px;
	padding-bottom: 42px;
	margin-top: 99px;
}
.gallery_item a
{
	display: block;
	outline: none;
}
.gallery_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.gallery_title
{

}
.gallery_title ul li
{
	display: inline-block;
	margin-right: 34px;
}
.gallery_title ul li:last-child
{
	margin-right: 0;
}
.gallery_title ul li a
{
	font-family: 'Lucida', serif;
	font-size: 36px;
	font-weight: 700;
	color: #FFFFFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.gallery_title ul li a:hover
{
	color: #937c6f;
}
.gallery_text
{
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 5px;
}
.gallery_button
{
	margin: 0 auto;
	margin-top: 40px;
}
.gallery_slider_container
{
	margin-top: 55px;
}



/*********************************
푸터
*********************************/

.footer
{
	padding-top: 80px;
}
.footer_logo a
{
	font-family: 'Lucida', serif;
	font-size: 60px;
	color: #232323;
}
.footer_nav
{
	margin-top: 14px;
}
.footer_nav ul li
{
	display: inline-block;
	margin-right: 53px;
}
.footer_nav ul li:last-child
{
	margin-right: 0;
}
.footer_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #232323;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.footer_nav ul li a:hover
{
	color: #937c6f;
}
.footer_social
{
	margin-top: 51px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 36px;
}
.footer_social ul li:last-child
{
	margin-right: 0;
}
.footer_social ul li a img{
	width: 30px;
    display: block;
    height: auto;
	transition: all 0.2s ease;
}
.footer_social ul li a img:hover{
	opacity: 0.7;
}
.copyright
{
	margin-top: 56px;
	padding-bottom: 13px;
	font-family: 'Lucida', serif;
	font-size: 12px;
	color: #232323;
}